<!doctype html>
<html>
  <head>
    <title>Produtos</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      color: white;
    }
    body {
      background: black;
    }
  </style>
  <body>
    <h1
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        margin: 0;
        top: 0;
        height: 100px;
      "
    >
      Lista de produtos
    </h1>

    {% if produtos %}
    <div>
      {% for produto in produtos %}

      <div style="border: 1px solid #ccc; margin: 10px; padding: 10px">
        <h1>{{ produto.descricao_produto }}</h1>
        {% if produto.imagem %}
        <img src="{{ produto.imagem }}" width="150" />
        {% endif %}
      </div>

      {% endfor %}
    </div>
    {% else %}
    <h1>Não há produtos cadastrados. Consulte um administrador.</h1>
    {% endif %}
  </body>
</html>
